/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    box-sizing: border-box;
}
:root{
    /* Colors */
    --primary-color: hsl(193, 38%, 86%);
    --action-color: hsl(150, 100%, 66%);
    --glow-color: hsl(111, 100%, 53.9%);

    --neutral-color: hsl(217, 19%, 38%);
    --secondary-color: hsl(217, 19%, 24%);
    --secondary-color-alt: hsl(218, 23%, 16%);

    --link-color: hsl(228, 45%, 44%);

    /* Font */
    /* 1rem = 28px */

    font-size: 175%;

    --smallest-font: 0.4rem;
    --small-font: 0.75rem;
    --normal-font: 1rem;
    --big-font: 1.25rem;

    --body-font: font-family: 'Manrope', sans-serif;


    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-button: 1000;


}

body{

    width: 100%;
    height: 100%;
    background-color: var(--secondary-color-alt);
}

.card-container{

    /* border: solid var(--action-color) 2px; */
    /* width: 100%; */
    height: auto;
    padding: 0;
    margin:0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card{

    
    width: 30vw;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.advice-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid var(--action-color) 2px; */
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

#advice-no{
    color: var(--action-color);
    text-align: center;
    font-size: var(--small-font);
    /* border: solid var(--action-color) 2px; */

}

#advice {

    
    color: var(--primary-color);
    text-align: center;
    /* border: solid var(--action-color) 2px; */

}

.advice-container > picture > img {
    width: 100%;
    height: auto;
}

.button-container {

    width: 2rem;
    height: 2rem;
    border: solid var(--action-color) 2px;
    background-color: var(--action-color);
    border-radius: 50%;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.button-container :hover{

    box-shadow: 0px 0px 30px 0px var(--action-color);
}

.button-container button {
    
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}





.attribution { 

    font-size:  var(--smallest-font);
    color: var(--primary-color); 
    position: fixed;
    bottom: 0;
    left: 40%;
}
.attribution a { 

    color: var(--link-color); 
}